/**
  CALENDAR MAIN STYLE GOES HERE
  CREATED BY ISHWOR
  FRONT END DEVELOPER
  DESCRIPTION: I have dump all the var and usesfull class in same file for this small Project but it would be
                nice if we make a seperate file for var and common useful class so on.
                This is kind a basic styles for calendar but we could do lot more as we need.
*/


/**
DEFINE VAR
*/

$white: #FFF;
$black: #000;
$lightGray: #EEE;
$darkGray: #DDD;
$blue: blue;
$orange: orange;
$yellow: yellow;
$lightGreen: #cbe382;

/**************************************************/
//Useful class:
.no-padding { padding: 0; }
.no-margin { margin: 0; }
.weenkend { background: $yellow; }
.weekday { background: $lightGreen; }

/**************************************************/

body {
  animation: bodyAnimation 0.5s forwards ease-in;

}

.main-wrapper {
  background-color: $lightGray;
  width: 32rem;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
}

//HEADER
header {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}//header end

//TABLE
table {
  width: 100%;
  height: auto;

  //mixin demo
  @mixin row-set {
    border: 2px solid $white;
    padding: 1rem;
    text-align: center;
  }

  th {
    @include row-set;
    background: $black;
    color: $white;
  }

  td {
    @include row-set;
    background: $lightGray;
  }

}//table end

//FOOTER
.bottom {
  background: $white;
  padding: 1rem;
  margin: 3rem 0 1rem 0;

  .arrow-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid $black;
    cursor: pointer;
  }
  .arrow-left {
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-right:1rem solid $black;
    cursor: pointer;
  }
}//Bottom end

//USER WRAPPER
.user-wrapper {
  select {
     margin-left: 1rem;
     height: 2rem;
    }
}

//MAIN CALENDAR
.today-date-selected {
    background: $orange;
    color: $white;
    font-weight: bold;
    animation: blinkCurrentDate 5s infinite ease-in-out;
 }

//ANIMATION
 @keyframes blinkCurrentDate {
   50% { background-color: $black; }
   100% { background-color: $orange; }
 }

 @keyframes bodyAnimation {
   0% { opacity: 0; }
   50% { opacity: 0.5; }
   100% { opacity: 1; }
 }
